@use './globalPar/variables';

.contact {
    color: variables.$black;
    background-color: #fff;
    h2 {
        text-align: left;
        color: variables.$gold;
        font-family: variables.$subheadingFont;
        font-size: 1.3rem;
        padding-bottom: 0px;
      }

      .text {
        // border: 1px solid red;

        // width: 65%;
        text-align: left;
      }
      span {
        // border: 1px solid red;

        margin-top: 10px;
        display: flex;
        align-items: center;
        gap: 10px;
  
      }

    .wrapper {
        padding: 50px 0;
    }

    .wrapper ul {
        display: flex;
        justify-content: space-around;
        width: 15%;
        margin: 0 auto;
        padding-bottom: 15px;
        height: 60px;

        li a img {
            width: 25px;
            color: variables.$white;
        }
        
        
         a:hover img,
         a:focus img {
            width: 27px;
            transition: all .3s ease;
        }
        
    }
    


}

footer {
    background-color: #2d2e32;

    .wrapper {
        padding: 25px;
        color: #fff;
        font-size: 0.8rem;
        font-family: variables.$subheadingFont;
     }

    text-align: center;
    padding: 10px 0;
    color: variables.$black;
    ;
}