@use './globalPar/variables';

.contact {
    color: variables.$black;

    .wrapper {
        border-top: 2px solid variables.$white;
    }


    fieldset {
        width: 60%;
        margin: 0 auto;
        appearance: none;
        border: none;


        form {
            display: flex;
            flex-direction: column;
            text-align: left;
            appearance: none;
            font-family: variables.$textFont;

            label {
                padding:20px 0;
                
            }
            
            input {
                height: 40px;
                appearance: none;
                border: none;
                background-color: variables.$background;
                border-bottom: 2px solid variables.$darkGrey;

                
            }

            textarea {

                border: 2px solid variables.$darkGrey;
                padding: 10px;
                border-radius: 5px;
                resize: none;
                outline: none;
                margin-bottom: 10px;
                background-color: variables.$background;

            }

            .button {
                width: 25%;
                margin: 0 auto;
                padding: 10px 30px;
                border: 2px solid variables.$darkGrey;
                background-color: variables.$background;
                border-radius: 5px;
                font-weight: bold;
                color: variables.$darkGrey;
                cursor: pointer;
            } 

            .button:hover,
            .button:focus {
                cursor: pointer;
                transition: all .3s ease;
                background-color: variables.$gold;
                font-size: 1.1rem;
                border: 2px solid variables.$gold;
                color: variables.$white;
            }
        }   
    }

    .wrapper ul {
        display: flex;
        justify-content: space-around;
        width: 15%;
        margin: 0 auto;
        padding-bottom: 15px;
        height: 60px;

        li a img {
            width: 25px;
            color: variables.$white;
        }
        
        
         a:hover img,
         a:focus img {
            width: 27px;
            transition: all .3s ease;
        }
        
    }
    p {
        width: 60%;
        margin: 0 auto;
    }


}

footer {
    .wrapper {
        padding: 0;
    }

    text-align: center;
    padding: 10px 0;
    color: variables.$black;
    border-top: 2px solid variables.$white;
}