@use './globalPar/variables';

header {
    height: 100vh;
    text-align: center;
    color: variables.$darkGrey;

    
        .hamburger {
            display: none;
            cursor: pointer;

            .bar {
                display: block;
                width:25px;
                height: 3px;
                margin: 5px auto;
                transition: all 0.3s ease-in-out;
                background-color: variables.$darkGrey;  
            }
        }

    ul {
        padding: 20px 0 250px;
        display: flex;
        justify-content: space-around;
        width: 45%;
        margin: 0 auto;
        font-family: variables.$subheadingFont;


        a:hover,
        a:focus {
            border-bottom: 2px solid variables.$gold;
            font-weight: bolder;
            transition: ease-in-out;
            }

        }

    h1, h3 {
        text-align: center;
        padding: 5px 0;
    }
    h1 {
        padding-top: 70px;
        color: variables.$darkGrey;

         
       
    }
    h3 {
        color: variables.$black;
        font-size: 3rem;
        font-family: variables.$headingFont;

        #blinker {
            color: variables.$gold;
            animation: blink 1s linear infinite;
        }

        @keyframes blink {
            0% {
                opacity: 100%;
            }
            50% {
                opacity: 0%;
            }
        }
    }

    .button {
        text-align: center;
        display: inline-block;
        margin: 0 auto;
        border: 2px solid variables.$darkGrey;
        border-radius: 5px;
        padding: 15px 30px;
        margin-top: 10px;
        font-family: variables.$subheadingFont;
        color: variables.$darkGrey;

    }

    .button:hover,
    .button:focus {
        cursor: pointer;
        transition: all .3s ease;
        background-color: variables.$gold;
        font-size: 1.1rem;
        color: variables.$white;
        border: 1px solid variables.$gold;
    }
}

.about {
    text-align: left;
    color: variables.$black;
    .wrapper {
        border-top: 2px  variables.$white solid;
        p {
            width: 65%;
            span {
                color: variables.$gold;
                font-weight: bolder;
            }
        line-height: 1.5;
        }
    }
    
    
    
}