@use './globalPar/variables';

header {
    height: 100vh;
    background-color: variables.$wine;
    text-align: center;
    color: variables.$white;

    ul {
        padding: 20px 0 250px;
        display: flex;
        justify-content: space-around;
        width: 45%;
        margin: 0 auto;
        font-family: variables.$subheadingFont;


        a:hover,
        a:focus {
            color: variables.$green;
            font-weight: bolder;
            transition: ease-in-out;
            }

        }

    h1, h3 {
        text-align: center;
        padding: 5px 0;
    }
    h1 {
        padding-top: 70px;
    }

    .button {
        text-align: center;
        display: inline-block;
        margin: 0 auto;
        background-color: variables.$green;
        padding: 15px 30px;
        border: 2px solid variables.$smokey;
        margin-top: 10px;
        font-family: variables.$subheadingFont;
        font-weight: bolder;
        color: variables.$wine;

    }

    .button:hover,
    .button:focus {
        cursor: pointer;
        transition: all .3s ease;
        background-color: variables.$smokey;
        font-size: 1.1rem;
    }
}

.about {

    background-color: variables.$smokey;


    .wrapper p {
        width: 65%;
        margin: 0 auto;
    }
}