@use './globalPar/variables';

header {
  height: 100vh;
  text-align: center;
  color: variables.$darkGrey;

  nav {
    align-items: center;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, .09);
    display: flex;
    font-size: 1.1rem;
    height: auto;
    justify-content: space-between;
    left: 0;
    padding: 25px 40px 25px 50px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 200;

    .logo {
      font-size: 1.7rem;
      font-family: variables.$subheadingFont;
      color: variables.$darkGrey;
    }
  }


  .hamburger {
    display: none;
    cursor: pointer;

    .bar {
      display: block;
      width: 25px;
      height: 3px;
      margin: 5px auto;
      transition: all 0.3s ease-in-out;
      background-color: variables.$darkGrey;
    }
  }

  ul {

    gap: 2rem;
    list-style: none;
    display: flex;
    width: 100%;
    justify-content: end;
    font-family: variables.$subheadingFont;


    a:hover,
    a:focus {
      border-bottom: 2px solid variables.$gold;
      font-weight: bolder;
      transition: ease-in-out;
    }

  }

  // h1,
  // h3 {
  // }

  h1 {
    padding-top: 70px;
    color: variables.$darkGrey;



  }

  h3 {
    color: variables.$black;
    font-size: 3rem;
    font-family: variables.$headingFont;

    #blinker {
      color: variables.$gold;
      animation: blink 1s linear infinite;
    }

    @keyframes blink {
      0% {
        opacity: 100%;
      }

      50% {
        opacity: 0%;
      }
    }
  }

  .button {
    text-align: center;
    display: inline-block;
    border: 2px solid variables.$darkGrey;
    border-radius: 5px;
    padding: 10px 20px;
    font-family: variables.$subheadingFont;
  }

  .button:hover,
  .button:focus {
    cursor: pointer;
    border-color: variables.$blue;
  }


  .content {
    display: flex;
    padding-top: 10rem;
    justify-content: space-around;
    text-align: left;

    .text {
      width: 65%;
    }

    .imgContainer {
      height: fit-content;
      width: fit-content;
      border-radius: 50%;
      border: 2px solid variables.$gold;
      margin-right: 10px;

      img {
        width: 300px;
        padding: 10px;
        border-radius: 50%;
      }
    }

    span {
      margin-top: 5px;
      display: flex;
      align-items: center;
      gap: 10px;

    }


  }
}

.techStack {
  margin-top: 60px;
  align-items: center;
  color: #767676;
  display: flex;
  font-size: 1.1rem;

  ul {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
  }

  li {
    transition: transform .2s;
  }
  li:hover {
    transform: scale(1.2);
  }

  p {
    border-right: 2px solid rgba(45, 46, 50, .5);
    color: #2d2e32;
    font-weight: 600;
    margin-right: 5rem;
    padding-right: 2rem;

  }
}



.about {
  text-align: left;
  color: variables.$black;

  .wrapper {
    border-top: 2px variables.$white solid;

  }

  .flexBox {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .info {
      width: 65%;

      p {
        span {
          border-bottom: 2px solid variables.$gold;
          font-weight: bolder;
        }

        line-height: 1.5;
      }
    }

    .imgContainer {
      height: fit-content;
      width: fit-content;
      border-radius: 50%;
      border: 2px solid variables.$gold;
      margin-right: 10px;

      img {
        width: 300px;
        padding: 10px;
        border-radius: 50%;
      }
    }

    ;
  }

}