@use './globalPar/variables';

.projects {
  // border: 1px solid red;
  padding-bottom: 50px;

  .projectGrid {
    grid-gap: 2.5rem;
    display: grid;
    gap: 2.5rem;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    height: auto;
    width: 100%;
  }

  img {
    width: 500px;
    background-color: hsla(0, 0%, 46%, .2);
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    height: auto;
    overflow: hidden;
  }

  .projectinfo {
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: center;
    text-align: center;
    width: 40%;
  }


  .pLinks {
    gap: 1rem;
    justify-content: space-evenly;
    margin-top: 1rem;
    display: flex;
    align-items: center;
  }

  .wrapper {
    // border: 1px solid red;
    width: 80%;
    padding: 50px 0;
    text-align: left;

    h2 {
      color: variables.$gold;
      font-family: variables.$subheadingFont;
      padding-bottom: 10px;
      font-size: 1.3rem;
    }



    .projectListItem {
      // border: 1px solid red;
      flex-direction: row;
      gap: 2rem;
      width: 80%;
      margin: 0 auto;
      padding: 1rem;
      background-color: #fff;
      border-radius: 20px;
      box-shadow: 0 0 10px rgba(0, 0, 0, .1);
      display: flex;


    }


    



      h3 {
        font-size: 1.5rem;
        padding-bottom: 5px;
        font-family: variables.$headingFont;
      }

      h4 {
        font-size: 0.9rem;
        margin-top: 0;
        color: variables.$darkGrey;
      }

      p {
        line-height: 1.2;
      }

      a {
        cursor: pointer;
      }

      p a {
        text-decoration: underline;

      }

    
  }

  .button {
    color: variables.$gold;
  }
  .button:hover {
    color: variables.$darkGrey;
  }
}