@use './globalPar/variables';   



.skills {
    
    .wrapper {
        border-top: 2px  variables.$white solid;

        ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            padding-top: 10px;

            
    
            li {
                margin: 30px 20px;
                display: flex;
                flex-direction: column;
                align-items: center;
                transition: .3s ease;
                width: calc((100%/6) - 40px);
        
                img {
                    width: 80px;
                    height: 80px;
                    margin: 0 auto;
                }  
                
                p {
                    font-family: variables.$subheadingFont;
                    margin-top: 10px;
                    font-size: 1rem;
                    text-align: center;
                    
                }
                
                span {
                    display: block;
                }

                .devicon-firebase-plain,
                .fa-bolt {
                font-size: 3rem;
            }
            
                i {
                    transition: transform .2s;
                }
            
                i:hover,
                i:focus {
                    cursor:cell;
                    transform: scale(1.2);
                }
            
            }

            
        }
    }
    
}
//SKILLS 





