@use '../globalPar/variables';

/* GENERAL STYLES */

html {
    font-size: 125%;
    // width: 1200px;
}

h1,h2,h3,p,ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    display: block;
}

.wrapper {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

h1, h2 {
    font-family: variables.$headingFont;
}

h3, h4 {
    font-family: variables.$subheadingFont;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
    padding-bottom: 20px;
}

p {
    font-family: variables.$textFont;
}

section {
    padding: 100px 0;
    text-align: center;
}
.button {
    font-family: variables.$subheadingFont;
}

// .button{
//     transform: translate(-50%, -50%);
//     padding: 10px 30px;
//     background-color: variables.$green;
//     border: 2px solid variables.$popstar;
//     cursor: pointer;
// }

// .button:active,button:focus {
//     outline: none;
// }

// .button:hover{
//     color:variables.$popstar;
//     box-shadow: 0px 4px 8px 1px #000;
//     transition: all .3s ease;

// }