@use '../globalPar/variables';

/* GENERAL STYLES */
html {
    font-size: 125%;
    // width: 1200px;
    // background-color: variables.$white;
}
body {
    background-color: variables.$background;
}

h1,h2,h3,p,ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    display: block;
}

.wrapper {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

h1, h2 {
    font-family: variables.$headingFont;
}

h3, h4 {
    font-family: variables.$subheadingFont;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
    padding-bottom: 20px;
}

p {
    font-family: variables.$textFont;
}

section {
    text-align: center;
}

header .wrapper {
    padding-top: 50px;
}

.button {
    font-family: variables.$subheadingFont;
}
//  * {
//     border: 1px solid red;
//  }


