@use '../globalPar/variables';


@media (max-width:1140px) {


  // PROJECTSSS
  body .projects .wrapper .projectListItem {
    flex-direction: column;
  }
  body .projects  .projectinfo { 
    width: auto;
  }
  
  body .projects .imgContainer {
    width: 100%;
  }
  body .projects  img {
    width: 100%;
  }
 

  .contact .form {
    width: 80%;
  }

  .contact .contactP {
    width: 80%;
  }

  // SKILLS

  .skills .wrapper ul li {
    min-width: 120px
  }
}


// @815px

@media (max-width:900px) {

  //HOME

  body header .content {
    padding-top: 5rem;
  }

  body header .content span {
    justify-content: center;
  }


  body header .content h1 {
    font-size: 2rem;
    padding-top: 20px;
  }

  body header .content {
    flex-direction: column-reverse;
    text-align: center;
  }

  body header .content .img {
    margin: 0 auto;
  }

  body header .content .text {
    width: auto
  }

  header .techStack {
    flex-direction: column;
  }

  header .techStack p {
    border-bottom: 2px solid rgba(45, 46, 50, .5);
    border-right: none;
    margin-bottom: 1.5rem;
    margin-right: 0;
    padding-bottom: 1rem;
    padding-right: 0;
  }

  body header {
    height: auto;
    margin-bottom: 50px;
  }
  //ABOUT

  .about .flexBox {
    flex-direction: column;
    align-items: center;
  }

  body .about .info {
    margin-left: 0;
    margin-top: 10px;
  }

  body .about .info h2 {
    padding-bottom: 5px;
  }

  .about .wrapper .flexBox .imgContainer {
    margin-right: 0%;
    margin-bottom: 5px;
  }

  // PROJECTS

body .projects  .projectinfo { 
  width: auto;
}

body .projects .imgContainer {
  width: 100%;
}
body .projects  img {
  width: 100%;
}



  

 

  // CONTACT

  .contact .wrapper fieldset form .button {
    width: 45%;
  }

}


@media (max-width:730px) {
  header nav .hamburger {
    display: block;
    z-index: 10;
    position: fixed;
    right: 20px;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .navMenu {
    position: fixed;
    left: -100%;
    top: 0px;
    gap: 0;
    flex-direction: column;
    justify-content: center;
    background-color: variables.$background;
    width: 100%;
    height: 100vh;
    text-align: center;
    transition: 0.3s;
    z-index: 10;
    padding: 0;
  }

  .navMenu li {
    margin: 25px;
    font-size: larger;
  }

  .navMenu.active {
    left: 0;
  }
}

@media (max-width:500px) {
  html {
    font-size: 1rem;
  }

  body .projects .wrapper  .projectListItem {
    width: auto;
  }


  body .wrapper {
    width: 85%;
  }

  body .contact .wrapper ul {
    width: 50%;
  }

  body .about .wrapper p {
    width: 95%
  }

  body .about .flexBox .info {
    width: 100%
  }

  body .about .flexBox .info p {
    margin-top: 10px;
    width: 100%;
    text-align: left;
  }

}