@use '../globalPar/variables';


@media (max-width:1140px) {
 

    // PROJECTSSS
    body .projects .projectListItem .projectinfo {
        text-align: center;
        margin-top: 10px;
        padding-left: 0;
    }
    .projects .projectListItem {
     flex-direction: column;
    }

    .projects .projectListItem .imgContainer {
        margin: 0 auto;
    }

    .contact .form {
        width: 80%;
    }
    .contact .contactP {
        width: 80%;
    }

    // SKILLS

    .skills .wrapper ul li {
        min-width: 120px
    }
}


// @815px

@media (max-width:815px) {

    //ABOUT

    .about .flexBox {
        flex-direction: column-reverse;
        align-items: center;
    }
    .about .wrapper .flexBox .imgContainer {
        margin-right: 0%;
        margin-bottom: 5px;
    }

    // PROJECTS

    .projects .projectListItem .imgContainer {
        width: 100%;
    
    }
    .projects .wrapper .projectListItem .imgContainer img {
        width: 100%;
    }

    // CONTACT

    .contact  .wrapper fieldset form .button {
        width: 45%;
    }
    
}


@media (max-width:900px) {
    header nav ul a {
        display: none;
    }

    header nav ul .mobileMenu {
        display: flex;
    }

    

}

@media (max-width:500px) {
    html {
        font-size: 1rem;
    }
    
    body header h1 {
        padding-top: 200px;
    }
    body .wrapper {
        width: 85%;
    }
    body .contact .wrapper ul {
        width:50%;
    }

    body .about .wrapper p {
        width: 95%
    }

    body .about .flexBox .info {
        width: 100%
    }

    body .about .flexBox .info p {
        margin-top: 10px;
        width: 100%;
        text-align: justify;
    }

}
