// Colours
<<<<<<< HEAD
$background: #FFFFFF;
=======
$background: #F9F9F9;
>>>>>>> main
$white: #F7EDF0;
$darkGrey: #716969;
$blue: #279AF1;
$black: #02182B;
$gold: #279AF1;



// Fonts
$headingFont: 'Montserrat', sans-serif;

$textFont: 'Nunito Sans', sans-serif;

$subheadingFont: 'Roboto Condensed', sans-serif;