// Colours
$white: #FFFFFA;
$blue: #A5D8FF;
$darkPeach: #fed18c;
$wine: #702632;
$pink: #9A879d;


// Fonts
$headingFont: 'Montserrat', sans-serif;

$textFont: 'Nunito Sans', sans-serif;

$subheadingFont: 'Roboto Condensed', sans-serif;