// Colours
$white: #FFFFFA;
$blue: #d6efff;
$darkPeach: #fed18c;
$wine: #702632;
$red: #ff5e5b;


// Fonts
$headingFont: 'Montserrat', sans-serif;

$textFont: 'Nunito Sans', sans-serif;

$subheadingFont: 'Roboto Condensed', sans-serif;