html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* GENERAL STYLES */
html {
  font-size: 125%;
}

body {
  background-color: #CED0CE;
}

h1, h2, h3, p, ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
}

.wrapper {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

h1, h2 {
  font-family: "Montserrat", sans-serif;
}

h3, h4 {
  font-family: "Roboto Condensed", sans-serif;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
  padding-bottom: 20px;
}

p {
  font-family: "Nunito Sans", sans-serif;
}

section {
  text-align: center;
}

.wrapper {
  padding: 100px 0;
}

header .wrapper {
  padding-top: 50px;
}

.button {
  font-family: "Roboto Condensed", sans-serif;
}

@media (max-width: 1140px) {
  .projects .projectListItem .projectinfo {
    text-align: center;
    margin-top: 10px;
    padding-left: 40px;
  }
  .projects .projectListItem {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .projects .projectListItem .imgContainer {
    margin: 0 auto;
  }
  .contact .form {
    width: 80%;
  }
  .contact .contactP {
    width: 80%;
  }
  .skills .wrapper ul li {
    min-width: 120px;
  }
}
@media (max-width: 815px) {
  .projects .projectListItem .imgContainer {
    width: 100%;
  }
  .projects .wrapper .projectListItem .imgContainer img {
    width: 100%;
  }
  .contact .wrapper fieldset form .button {
    width: 45%;
  }
}
@media (max-width: 730px) {
  header nav .hamburger {
    display: block;
    z-index: 10;
    position: fixed;
    right: 40px;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
            transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
            transform: translateY(-8px) rotate(-45deg);
  }
  .navMenu {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #CED0CE;
    width: 100%;
    text-align: center;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    z-index: 10;
  }
  .navMenu li {
    margin: 16px 0;
  }
  .navMenu.active {
    left: 0;
  }
}
@media (max-width: 500px) {
  html {
    font-size: 1rem;
  }
  body header h1 {
    padding-top: 200px;
  }
  body .wrapper {
    width: 85%;
  }
}
header {
  height: 100vh;
  text-align: center;
  color: #716969;
}
header .hamburger {
  display: none;
  cursor: pointer;
}
header .hamburger .bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #716969;
}
header ul {
  padding: 20px 0 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 45%;
  margin: 0 auto;
  font-family: "Roboto Condensed", sans-serif;
}
header ul a:hover,
header ul a:focus {
  border-bottom: 2px solid #E0B700;
  font-weight: bolder;
  -webkit-transition: ease-in-out;
  transition: ease-in-out;
}
header h1, header h3 {
  text-align: center;
  padding: 5px 0;
}
header h1 {
  padding-top: 70px;
  color: #716969;
}
header h3 {
  color: #02182B;
  font-size: 3rem;
  font-family: "Montserrat", sans-serif;
}
header h3 #blinker {
  color: #E0B700;
  -webkit-animation: blink 1s linear infinite;
          animation: blink 1s linear infinite;
}
@-webkit-keyframes blink {
  0% {
    opacity: 100%;
  }
  50% {
    opacity: 0%;
  }
}
@keyframes blink {
  0% {
    opacity: 100%;
  }
  50% {
    opacity: 0%;
  }
}
header .button {
  text-align: center;
  display: inline-block;
  margin: 0 auto;
  border: 2px solid #716969;
  border-radius: 5px;
  padding: 15px 30px;
  margin-top: 10px;
  font-family: "Roboto Condensed", sans-serif;
  color: #716969;
}
header .button:hover,
header .button:focus {
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: #E0B700;
  font-size: 1.1rem;
  color: #F7EDF0;
  border: 1px solid #E0B700;
}

.about {
  text-align: left;
  color: #02182B;
}
.about .wrapper {
  border-top: 2px #F7EDF0 solid;
}
.about .wrapper p {
  width: 65%;
}
.about .wrapper p span {
  color: #E0B700;
  font-weight: bolder;
}

.skills .wrapper {
  border-top: 2px #F7EDF0 solid;
}
.skills .wrapper ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-top: 10px;
}
.skills .wrapper ul li {
  display: inline-block;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.skills .wrapper ul li img {
  width: 80px;
  height: 80px;
  margin: 0 auto;
}
.skills .wrapper ul li p {
  font-family: "Roboto Condensed", sans-serif;
}

.projects .wrapper {
  border-top: 2px #F7EDF0 solid;
}
.projects .wrapper .projectListItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 40px;
  padding-bottom: 40px;
  width: 90%;
  margin: 0 auto;
}
.projects .wrapper .projectListItem img {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 550px;
}
.projects .wrapper .projectinfo {
  text-align: left;
  width: 45%;
  padding-left: 50px;
  width: 100%;
}
.projects .wrapper .projectinfo h3 {
  font-size: 1.5rem;
  padding-bottom: 5px;
  font-family: "Montserrat", sans-serif;
}
.projects .wrapper .projectinfo h4 {
  font-size: 0.9rem;
  margin-top: 0;
  color: #716969;
}
.projects .wrapper .projectinfo p {
  line-height: 1.2;
}
.projects .wrapper .projectinfo .button {
  display: inline-block;
  margin-top: 23px;
  padding: 10px 30px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 2px #716969 solid;
  border-radius: 5px;
  color: #716969;
  font-weight: bold;
  cursor: pointer;
}
.projects .wrapper .projectinfo .button:hover,
.projects .wrapper .projectinfo .button:focus {
  background-color: #E0B700;
  color: #F7EDF0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border: 2px solid #E0B700;
}

.contact {
  color: #02182B;
}
.contact .wrapper {
  border-top: 2px solid #F7EDF0;
}
.contact fieldset {
  width: 60%;
  margin: 0 auto;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
}
.contact fieldset form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-family: "Nunito Sans", sans-serif;
}
.contact fieldset form label {
  padding: 20px 0;
}
.contact fieldset form input {
  height: 40px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  background-color: #CED0CE;
  border-bottom: 2px solid #716969;
}
.contact fieldset form textarea {
  border: 2px solid #716969;
  padding: 10px;
  border-radius: 5px;
  resize: none;
  outline: none;
  margin-bottom: 10px;
  background-color: #CED0CE;
}
.contact fieldset form .button {
  width: 25%;
  margin: 0 auto;
  padding: 10px 30px;
  border: 2px solid #716969;
  background-color: #CED0CE;
  border-radius: 5px;
  font-weight: bold;
  color: #716969;
  cursor: pointer;
}
.contact fieldset form .button:hover,
.contact fieldset form .button:focus {
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: #E0B700;
  font-size: 1.1rem;
  border: 2px solid #E0B700;
  color: #F7EDF0;
}
.contact .wrapper ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 15%;
  margin: 0 auto;
  padding-bottom: 15px;
  height: 60px;
}
.contact .wrapper ul li a img {
  width: 25px;
  color: #F7EDF0;
}
.contact .wrapper ul a:hover img,
.contact .wrapper ul a:focus img {
  width: 27px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.contact p {
  width: 60%;
  margin: 0 auto;
}

footer {
  text-align: center;
  padding: 10px 0;
  color: #02182B;
  border-top: 2px solid #F7EDF0;
}
footer .wrapper {
  padding: 0;
}